<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="app">
  <p>{{ message }}</p>
  <input type="text" name="" v-model="message">
  <li v-for="tode in todos">
  	{{todo.text}}
  </li>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
			message:"hello world!",
			todos:[
				{text:'Learn Javascript'},
				{text:'learn Vue'},
				{text:'learn something'}
			]
		}
	})

</script>
</html>